html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Raleway', 'Montserrat', sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none;
}

/*h1 {
	text-align: center;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.todos-box {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.7em;
    width: 100%;
    line-height: 1.4em;
}

.todo-insert-new {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e6eaeb;
    font-weight: lighter;
    box-sizing: border-box;
    padding: 12px 12px 12px 55px;
    }

.todos-box input[type="text"] {
    font-size: inherit;
}

.todo-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-items li, label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}



.todos-box li .delete-one-todo {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.todos-box  li .delete-one-todo:hover {
    color: #af5b5e;
}

.todos-box li .delete-one-todo:after {
    content: '×';
}

.todos-box li:hover .delete-one-todo {
    display: block;
}
*/

.todos-box li.editing .view {
    display: none;
}

.todos-box li .edit {
    display: none;
}

.todos-box li.editing .edit {
    display: block;
}

.hidden {
    display: none;
}

.active {
    display: inherit;
}
